flows.json
[{"id":"3b4629c7.207f56","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7487e54e.4427dc","type":"ui_form","z":"3b4629c7.207f56","name":"","label":"","group":"8341974d.535aa8","order":2,"width":0,"height":0,"options":[{"label":"Pickup_longitude","value":"plo","type":"number","required":true},{"label":"Pickup_latitude","value":"pla","type":"number","required":true},{"label":"Dropoff_longitude","value":"dlo","type":"number","required":true},{"label":"Dropoff_latitude","value":"dla","type":"number","required":true},{"label":"Passenger_count","value":"pc","type":"number","required":true}],"formValue":{"plo":"","pla":"","dlo":"","dla":"","pc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":79.5,"y":59,"wires":[["cd78b399.660f8"]]},{"id":"cd78b399.660f8","type":"function","z":"3b4629c7.207f56","name":"token function","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"aeb4f9c7-6f22-40ef-9dc4-ca1d58b94fa9\";\nvar password=\"b849c8db-fe32-4941-ac6e-3e628860c1c0\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"plo\",msg.payload.plo)\nglobal.set(\"pla\",msg.payload.pla)\nglobal.set(\"dlo\",msg.payload.dlo)\nglobal.set(\"dla\",msg.payload.dla)\nglobal.set(\"pc\",msg.payload.pc)\nreturn msg;\n","outputs":1,"noerr":0,"x":175.5,"y":132,"wires":[["3507f3b5.da157c"]]},{"id":"e5cd49f2.c57688","type":"function","z":"3b4629c7.207f56","name":"predict","func":"var token=msg.payload.token;\nvar plo=global.get(\"plo\");\nvar pla=global.get(\"pla\");\nvar dlo=global.get(\"dlo\");\nvar dla=global.get(\"dla\");\nvar pc=global.get(\"pc\");\nmsg.payload={\"fields\":[\"Pickup_longitude\",\"Pickup_latitude\",\"Dropoff_longitude\",\"Dropoff_latitude\",\"Passenger_count\"],\"values\":[[plo,pla,dlo,dla,pc]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":421.5,"y":250,"wires":[["edac02c7.b283e"]]},{"id":"3507f3b5.da157c","type":"http request","z":"3b4629c7.207f56","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":301.5,"y":200,"wires":[["e5cd49f2.c57688"]]},{"id":"edac02c7.b283e","type":"http request","z":"3b4629c7.207f56","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/798a38f9-ce8d-43bd-acb5-dfc67d177c6a/deployments/a4b3e2a0-222c-4873-b223-1204a0a4e088/online","tls":"","proxy":"","authType":"","x":508.5,"y":310,"wires":[["352b1563.3cea1a"]]},{"id":"352b1563.3cea1a","type":"function","z":"3b4629c7.207f56","name":"output","func":"msg.payload= msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":569.5,"y":413,"wires":[["e2629dbc.b869e","9981d55e.866988"]]},{"id":"e2629dbc.b869e","type":"ui_text","z":"3b4629c7.207f56","group":"8341974d.535aa8","order":3,"width":0,"height":0,"name":"","label":"Fare amount:","format":"{{msg.payload}}","layout":"row-center","x":763.5,"y":356,"wires":[]},{"id":"9981d55e.866988","type":"debug","z":"3b4629c7.207f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":768.5,"y":468,"wires":[]},{"id":"8341974d.535aa8","type":"ui_group","z":"","name":"Prediction","tab":"9a38dd82.6e278","disp":true,"width":"6","collapse":false},{"id":"9a38dd82.6e278","type":"ui_tab","z":"","name":"Taxi Fare ","icon":"dashboard","disabled":false,"hidden":false}]